{{ define "content" }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"> <i class="fa fa-comment-o"></i> Welcome </span>
    </div>
    <div class="panel-body">
	   Welcome to the home page!! 
    </div>
  </div>

{{ end }}
